---
import Layout from "@/layouts/Layout.astro";
import Logo from "@/components/Logo.astro";
import SnippetCard from "@/components/SnippetCard.astro";
import SearchIcon from "@/icons/Search.astro";
import { data } from "@/lib/mock";
---

<Layout title="codi.link STORE | Snippets 100% gratuitos">
  <section class="flex max-w-4xl flex-col items-center pb-48 pt-36">
    <Logo class="text-8xl" />

    <h1 class="mt-10 text-center text-5xl font-bold text-slate-300">
      Una tienda de snippets 100% gratuita por y para desarrolladores
    </h1>

    <div class="mt-16 flex w-full items-center justify-center">
      <label
        class="flex w-1/2 gap-4 rounded-xl border border-slate-700 bg-slate-800 p-4"
      >
        <span>
          <SearchIcon class="opacity-50" />
        </span>

        <input
          type="search"
          placeholder="Buscar snippets..."
          class="w-full bg-transparent font-semibold outline-none"
        />
      </label>
    </div>
  </section>

  <section class="flex flex-col items-center">
    <ul class="flex flex-wrap justify-center gap-4">
      {
        data.map((item) => (
          <li>
            <SnippetCard data={item} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
