<span class:list={["text-center", Astro.props.class]}>
  <span
    class="bg-[url('/bg.jpg')] bg-clip-text bg-repeat-x font-bold text-transparent"
    >snippet</span
  >.link
</span>

<style>
  span > span {
    animation: bg 60s linear infinite;
  }

  @keyframes bg {
    to {
      background-position-x: 500%;
    }
  }
</style>
