---
import type { dataType } from "@/lib/types";
import { getData } from "@/lib/utils";

interface Props {
  data: dataType;
}

const { data } = Astro.props;
const { code } = getData(data);
---

<article class="overflow-hidden rounded-xl bg-slate-800">
  <header>
    <iframe
      srcdoc={code}
      loading="lazy"
      title="Lorem ipsum dolor sit amed"
      class="aspect-square w-full"
    >
    </iframe>
  </header>

  <main class="p-4">
    <h3 class="text-xl">Lorem ipsum dolor sit amed</h3>
  </main>
</article>
