---
const src =
  "https://codi.link/PHNjcmlwdCBzcmM9Imh0dHBzOi8vY2RuLnRhaWx3aW5kY3NzLmNvbSI+PC9zY3JpcHQ+DQoNCjxzZWN0aW9uIGNsYXNzPSJmbGV4IGp1c3RpZnktY2VudGVyIGl0ZW1zLWNlbnRlciBoLXNjcmVlbiI+DQogIDxoMSBjbGFzcz0idGV4dC05eGwgZm9udC1ib2xkIGJnLXJlcGVhdC14IGJnLWNsaXAtdGV4dCB0ZXh0LXRyYW5zcGFyZW50IGJnLVt1cmwoJ2h0dHBzOi8vaW1nLmZyZWVwaWsuY29tL3ByZW1pdW0tcGhvdG8vcmFpbmJvdy1jb2xvcmVkLXBhcGVyLWN1dC1hcnJhbmdlLWJlYXV0aWZ1bC1iYWNrZ3JvdW5kLWJhY2tkcm9wLXBhcGVyLWFydC1yYWluYm93LXBhcGVyLWZvbGQtY3V0LWJhY2tncm91bmQtd2l0aC0zZC1lZmZlY3QtdmlicmFudC1jb2xvcnMtdmVjdG9yLWlsbHVzdHJhdGlvbi1kZXNpZ24tbWF0ZXJpYWwtZWxlbWVudF83NjUzMzEtMTQxOS5qcGcnKV0iPjEuMS4xLjE8L2gxPg0KPC9zZWN0aW9uPg0KDQo8c3R5bGU+DQogIGgxIHsNCiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uLXg6IDAlOw0KICAgIGFuaW1hdGlvbjogYmcgNjBzIGxpbmVhciBpbmZpbml0ZTsNCiAgfQ0KDQogIEBrZXlmcmFtZXMgYmcgew0KICAgIHRvIHsNCiAgICAgIGJhY2tncm91bmQtcG9zaXRpb24teDogMTAwMCU7DQogICAgfQ0KICB9DQo8L3N0eWxlPg==%7C%7C";
---

<article class="overflow-hidden rounded-xl bg-slate-800">
  <header>
    <iframe
      src={src}
      loading="lazy"
      title="Lorem ipsum dolor sit amed"
      class="aspect-square w-full"
    >
    </iframe>
  </header>

  <main class="p-4">
    <h3 class="text-xl">Lorem ipsum dolor sit amed</h3>
  </main>
</article>
